<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="colcol-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">course title</label>
                    <input placeholder="course title" class="form-control" type="text" name="" id="">
                </div>
                <div class="colcol-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">duration</label>
                    <input placeholder="duration" class="form-control" type="text" name="" id="">
                </div>
                <div class="colcol-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">discription</label>
                    <textarea placeholder="discription" class="form-control" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="colcol-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">course date</label>
                    <input placeholder="date" class="form-control" type="date" name="" id="">
                </div>
                <div class="colcol-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">course venue</label>
                    <input placeholder="course venue" class="form-control" type="text" name="" id="">
                </div>
                <div class="colcol-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">register</button>
                </div>
            </div>
        </div>
    </div>
</div>
